.container__navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 1px solid rgb(255, 0, 0);
    max-width: 600px;
    padding: 5px 25px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.list {
    display: flex;
    justify-content: center;
}

.listItem {
    list-style: none;
    transition: all 200ms linear;
    padding: 10px 0;
}

.listItem:not(:last-child) {
    margin-right: 40px;
}
.listItem:hover {
    transform: scale(1.1);
}

.button {
    background-color: #3f51b5;
    color: #fff;
    border: 1px solid #3f51b5;
    border-radius: 5px;
    outline: none;
    padding: 0 4px;
    cursor: pointer;
    transition: transform 200ms linear;
}
.button:hover {
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}

.button:focus {
    color: black;
    box-shadow: 0 -1px -5px 0 rgba(0, 0, 0, 0.3);
}
