html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0px;
    background-color: #fff;
    color: #212121;
    font-family: 'Lato', sans-serif;
    margin-right: auto;
    margin-left: auto;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}
li {
    list-style-type: disc;
}
h1 {
    color: #3f51b5;
}

.link {
    color: #ccc;
    text-decoration: dashed;
    transform: scale(1);
    transition: all 500ms linear;
    font-weight: bold;
}
.active-link {
    color: rgba(0, 170, 255, 0.586);
    color: #3f51b5;
}
